@charset "UTF-8";

/* 전체 페이지 스타일 */
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0px 150px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 헤더 스타일 */
header {
  background-color: white;
  border-bottom: 1px solid #c8c8c8;
}

header .inner {
  margin: 0 auto;
  height: 7em;
  position: relative;
}

header .logo {
  height: 5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header img {
  margin: 0;
  height: 5em;
}

header .sub-menu {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  display: flex;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: rgb(0, 112, 192);
}

header .sub-menu ul.menu li a:hover {
  color: rgb(0, 10, 20);
}

/* 섹션 스타일 */
section {
  background-color: white;
  padding-bottom: 60px;
}

.half {
  padding: 0;
  background-color: rgb(0, 112, 192);
  height: 20em;
}

      /* 폼 스타일 */
      #login  form {
        margin-bottom: 20px;
      }

      #login  input[type="text"],
      #login  input[type="password"] {
        padding: 8px;
        width: 300px;
      }

      /* 로그인 폼 스타일 */
      #login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
      }

      #login  button[type="submit"] {
        padding: 8px 20px;
        background-color: rgb(0, 112, 192);
        color: #fff;
        border: none;
        cursor: pointer;
      }

      #login  #loginBtn {
        width: 300px;
        margin-bottom: 10px;
      }

      #login a {
        margin-left: 0.4em;
      }

      #login a.hover {
        color: #FFD966;
      }

.container {
    max-width: 400px;
}

.btn-primary {
    background-color: rgb(0, 112, 192);
    border-color: rgb(0, 112, 192);
}

.btn-primary:hover {
    background-color: rgb(0, 80, 160);
    border-color: rgb(0, 80, 160);
}


/* 푸터 스타일 */
footer {
  background-color: rgb(0, 112, 192);
  color: #fff;
  text-align: center;
  border-top: 1px solid #c8c8c8;
}

footer .inner {
  padding: 40px 0 60px 0;
}
