@charset "UTF-8";

/* 전체 페이지 스타일 */
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0px 150px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 헤더 스타일 */
header {
  background-color: white;
  border-bottom: 1px solid #c8c8c8;
}

header .inner {
  margin: 0 auto;
  height: 7em;
  position: relative;
}

header .logo {
  height: 5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header img {
  margin: 0;
  height: 5em;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.login {
  display: flex;
}

header .sub-menu ul.login li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: rgb(0, 112, 192);
}

header .sub-menu ul.login li a:hover {
  color: rgb(0, 10, 20);
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid rgb(150, 170, 190);
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: rgb(0, 112, 192);
  font-size: 12px;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: rgb(0, 112, 192);
}

header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

header .main-menu .item {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
  color: rgb(0, 112, 192);
}

header .main-menu .item:hover {
  background-color: rgb(0, 112, 192);
  color: white;
  border-radius: 6px;
}

/* 섹션 스타일 */
section {
  padding-bottom: 100px;
  background-color: white;
}

section h2 {
  margin-top: 0;
}

.half {
  background-color: rgb(0, 112, 192);
  height: 20em;
}

/* 푸터 스타일 */
footer {
  background-color: rgb(0, 112, 192);
  color: #fff;
  padding: 20px;
  text-align: center;
}
